$color1hex: "#FFFFFF";
$color1rgb: rgb(255, 255, 255);

$color2hex: "#00171F";
$color2rgb: rgb(0, 23, 31);

$color3hex: "#003459";
$color3rgb: rgb(0, 52, 89);

$color4hex: "#007EA7";
$color4rgb: rgb(0, 126, 167);

$color5hex: "#00A8E8";
$color5rgb: rgb(0, 168, 232);

html {
  font-size: 0.8em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  overflow: hidden;
}
